@model ASP_WebApp.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornamn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornamn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Efternamn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Efternamn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personnummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personnummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefonnummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefonnummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kommentarer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kommentarer)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
